* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 60%;
  height: 60/2.39%;
  background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
}
